/*

="'"&A1&"',"       

*/

--SELECT  *
--FROM [AdventureWorks2014].[Sales].[SalesOrderHeader]



SELECT  *
FROM [AdventureWorks2014].[Sales].[SalesOrderHeader]
where SalesOrderNumber in ('SO51762',
'SO51763',
'SO51764',
'SO51765',
'SO51766',
'SO51767',
'SO51768',
'SO51769',
'SO51770',
'SO51771',
'SO51772',
'SO51773',
'SO51774',
'SO60806',
'SO60807',
'SO60808',
'SO60809',
'SO60810',
'SO60811',
'SO60812',
'SO60813',
'SO60814',
'SO60815',
'SO60816',
'SO60817',
'SO60818',
'SO60819',
'SO60820',
'SO60821',
'SO60822',
'SO60823',
'SO60824',
'SO60825',
'SO60826',
'SO60827',
'SO60828',
'SO60829',
'SO60830',
'SO60831',
'SO60832',
'SO60833',
'SO60834',
'SO60835',
'SO60836',
'SO60837',
'SO60838',
'SO60839',
'SO60840',
'SO60841',
'SO60842',
'SO60843',
'SO60844',
'SO60845',
'SO60846',
'SO60847',
'SO60848',
'SO60849',
'SO60850',
'SO60851',
'SO60852',
'SO60853',
'SO60854',
'SO60855',
'SO60856',
'SO60857',
'SO60858',
'SO60859',
'SO60860',
'SO60861',
'SO60862',
'SO60863',
'SO60864',
'SO60865',
'SO60866',
'SO60867',
'SO60868',
'SO60869',
'SO60870',
'SO60871',
'SO60872',
'SO60873',
'SO60874',
'SO60875',
'SO60876',
'SO60877',
'SO60878',
'SO60879',
'SO60880',
'SO60881',
'SO60882',
'SO60883',
'SO60884',
'SO60885',
'SO60886',
'SO60887',
'SO60888',
'SO60889',
'SO60890',
'SO60891',
'SO60892',
'SO60893',
'SO60894',
'SO60895',
'SO60896',
'SO60897',
'SO60898',
'SO60899',
'SO60900',
'SO60901',
'SO60902',
'SO60903',
'SO60904',
'SO60905',
'SO60906',
'SO60907',
'SO60908',
'SO60909',
'SO60910',
'SO60911',
'SO60912',
'SO60913',
'SO60914',
'SO60915',
'SO60916',
'SO60917',
'SO60918',
'SO60919',
'SO60920',
'SO60921',
'SO60922',
'SO60923',
'SO60924',
'SO60925',
'SO60926',
'SO60927',
'SO60928',
'SO60929',
'SO60930',
'SO60931',
'SO60932',
'SO60933',
'SO60934',
'SO60935',
'SO60936',
'SO60937',
'SO60938',
'SO60939'
)



