
--EXAMPLE OF BEGIN TRANSACTION, COMMIT TRANSACTION, ROLLBACK TRANSACTION

--WHEN A SQL STATEMENT IS EXECUTED, SUCH AS THE SELECT STATEMENT BELOW, IT EXECUTES AND RETURNS THE RESULT SET WITHOUT ANY EXPLICT INPUT FROM THE USER.
--BUT, BEHIND THE SCENE, IS A BEGIN AND COMMIT TRANSACTION BEING EXECUTED TO GIVE THE RESULTS.
--SUPPOSE YOU WANTED TO CONTROL THAT EXECUTION OF THE SELECT STATEMENT OR UPDATE OR DELETE OR INSERT STATEMENTS!
--WELL, YOU CAN USE THE BEGIN, COMMIT AND ROLLBACK COMMANDS TO DO THAT EXACTLY.



SELECT * 
FROM [AdventureWorks2014].[Sales].[Currency]

--MAKE A COPY OF CURRENCY TABLE FOR UPDATES

SELECT * INTO [AdventureWorks2014].[Sales].[CurrencyCOPY]
FROM [AdventureWorks2014].[Sales].[Currency]

--USE THE COPY TO ILLUSTRATE UPDATE WITHOUT THE TRANSACTION


SELECT  [CurrencyCode],[Name],[ModifiedDate] 
FROM [AdventureWorks2014].[Sales].[CurrencyCOPY]

--AN EXAMPLE OF USING THE UPDATE STATEMENT WITHOUT THE BEGIN COMMIT/ROLLBACK TRANSACTIONS
--SUPPOSE I WANT TO UPDATE THE AUSTIRALIAN DOLLAR FOR THE USA DOLLAR CURRENCT CODE AND I FORGOT TO USE THE WHERE CLAUSE.
--AS SUCH, THE ENTIRE COLUMN WILL BE UPDATED, CAUSING INVALID AND CORRUPT DATA

UPDATE [AdventureWorks2014].[Sales].[CurrencyCOPY]
SET CurrencyCode = 'USD'

SELECT * FROM [AdventureWorks2014].[Sales].[CurrencyCOPY]

--DROP TABLE

USE [AdventureWorks2014]
GO

DROP TABLE [Sales].[CurrencyCOPY]
GO

--MAKE A COPY OF CURRENCY TABLE FOR UPDATES

SELECT * INTO [AdventureWorks2014].[Sales].[CurrencyCOPY]
FROM [AdventureWorks2014].[Sales].[Currency]


SELECT * FROM [AdventureWorks2014].[Sales].[CurrencyCOPY]


--BUT NOW HAD I USED THE BEGIN TRANSACTION AT THE BEGINNING OF THE UPDATE STATEMENT, 
--THEN COMMAND WILL LOCK THE TABLE UNTILL I EXECUTE THE COMMIT OR ROLLBACK COMMAND


BEGIN TRANSACTION

	UPDATE [AdventureWorks2014].[Sales].[CurrencyCOPY]
	SET CurrencyCode = 'USD'
	WHERE CurrencyCode  = 'AUD'


SELECT * FROM [AdventureWorks2014].[Sales].[CurrencyCOPY]
WHERE CurrencyCode  = 'USD'

--I CAN STILL ROLLBACK THE UPDATE AND GET THE ORIGINAL AUSTRAILA CURRENCY CODE SINCE I USED THE BEGIN TRANSACTION


BEGIN TRANSACTION

	UPDATE [AdventureWorks2014].[Sales].[CurrencyCOPY]
	SET CurrencyCode = 'USD'
	WHERE CurrencyCode  = 'AUD'

--the transaction is now waiting on a ROLLBACK or COMMIT. 

--COMMIT

ROLLBACK TRANSACTION

SELECT * FROM [AdventureWorks2014].[Sales].[CurrencyCOPY]
WHERE CurrencyCode  = 'AUD'